<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <listener>
    <listener-class>com.bjsxt.listener.EmpListener</listener-class>
  </listener>
  <display-name>sxtdc</display-name>
  <servlet>
    <servlet-name>PositionServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.PositionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionServlet</servlet-name>
    <url-pattern>/servlet/PositionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/servlet/AnnouncementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerTypeServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.CustomerTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerStatusServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.CustomerStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerSourceServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.CustomerSourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerReviewServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.CustomerReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseTypeServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.HouseTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.HouseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HouseServlet2</servlet-name>
    <servlet-class>com.bjsxt.servlet.HouseServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BargainServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.BargainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CareServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.CareServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RandomServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.RandomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>com.bjsxt.servlet.LogServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>CustomerProvinceServlet</servlet-name>
		<servlet-class>com.bjsxt.servlet.CustomerProvinceServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AnalyzeReviewServlet</servlet-name>
		<servlet-class>com.bjsxt.servlet.AnalyzeReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AnalyzeAttentionServlet</servlet-name>
		<servlet-class>com.bjsxt.servlet.AnalyzeAttentionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerProvinceServlet</servlet-name>
		<url-pattern>/bar.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalyzeReviewServlet</servlet-name>
		<url-pattern>/ana.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalyzeAttentionServlet</servlet-name>
		<url-pattern>/att.do</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/servlet/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/servlet/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/servlet/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerTypeServlet</servlet-name>
    <url-pattern>/servlet/CustomerTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerStatusServlet</servlet-name>
    <url-pattern>/servlet/CustomerStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerSourceServlet</servlet-name>
    <url-pattern>/servlet/CustomerSourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerReviewServlet</servlet-name>
    <url-pattern>/servlet/CustomerReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseTypeServlet</servlet-name>
    <url-pattern>/servlet/HouseTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseServlet</servlet-name>
    <url-pattern>/servlet/HouseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseServlet2</servlet-name>
    <url-pattern>/servlet/HouseServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BargainServlet</servlet-name>
    <url-pattern>/servlet/BargainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CareServlet</servlet-name>
    <url-pattern>/servlet/CareServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RandomServlet</servlet-name>
    <url-pattern>/Random.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/servlet/LogServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	
</web-app>